// Gris Oscuro Títulos : #424242
// Gris Claro fecha: #5f6368
// Gris Texto : #414549
// Azul : #4285f4

$gris-oscuro: rgb(66, 66, 66);
$gris-claro: rgb(95, 99, 104);
$gris-texto: rgb(65, 69, 73);
$azul: rgb(66, 133, 244);
